@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap');

$base-color-1: #DCDCEF;
$base-color-2: #5B5BB8;
$base-color-3: #C4A24A;
$base-color-4: #90783C;
$base-color-5: #2A2313;

* {
  font-size: 16px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  min-height: 100vh;
  width: 100%;
}

.calc-font {
  font-size: 30px;
  font-family: 'Orbitron', sans-serif;
  font-weight: 500;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: sans-serif;
  height: 100vh;
  margin: 0 auto;
}

button {
  cursor: pointer;
  color: $base-color-5;
}

button:active {
  background-color: $base-color-2;
  color: $base-color-1;
}

.calculator {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 400px;
  margin: 0 auto;
  padding: 5px;
  background-color: $base-color-5;
  border: 1px solid $base-color-5;
  border-radius: 5px;

  #results-component {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    height: 20%;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
    background-color: $base-color-1;

    .formula {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 50%;
    }

    .answer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 50%;
    }
  }

  #buttons-component {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 auto;
    height: 100%;

    button {
      width: 25%;
      height: calc(100% / 6);
      border: 1px solid $base-color-5;
    }
  }

/* Specific button styling */
  .equal-button {
    background-color: $base-color-2;
  }

  .top-left-button {
    border-top-left-radius: 5px;
  }

  .top-right-button {
    border-top-right-radius: 5px;
  }

  .bottom-left-button {
    border-bottom-left-radius: 5px;
  }

  .bottom-right-button {
    border-bottom-right-radius: 5px;
  }

  .operator-button {
    background-color: gray;
  }

  .number-button {
    background-color: orange;
  }

  .functional-button {
    background-color: beige;
  }

  .danger-button {
    background-color: red;
  }

  #signature {
    color: $base-color-1;
    text-align: center;
    margin-top: 5px;
  }
}

/* Responsive design */

@media (max-width: 450px) {
  * {
    font-size: 14px;
  }

  .calculator {
    height: 90%;
    width: 350px;
  }

  .calc-font {
    font-size: 26px;
  }
}

@media (max-width: 350px) {
  * {
    font-size: 10px;
  }

  .calculator {
    height: 90%;
    width: 300px;
  }

  .calc-font {
    font-size: 22px;
  }
}

